/* header */

#headerBox {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  padding: 0 5%;
  background-color: var(--white100_dark100);
}

/* Logo */

#logoBox {
  width: 50px;
  height: 50px;
}

#logoImg {
  width: 100%;
  height: 100%;
}

/* Entrada de tarefas */

#newTaskContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
}

#newTaskContainerInput {
  position: relative;
  width: 37.5rem;
  height: 3rem;
}

#newTaskInput {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--grey_50);
  background-color: var(--white100_dark100);
  padding: 5px 50px 5px 10px;
  font-family: "lato", "sans-serif";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark100_white100);
  transition: 0.2s;
}

#cleanNewTaskInputBtn {
  width: 50px;
}

#cleanNewTaskInputBtn:hover {
  background-color: var(--grey_Opacity_3);
  color: var(--grey_50);
}

#newTaskBtn {
  position: relative;
  text-align: center;
  line-height: 0px;
  font-family: "lato", "sans-serif";
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 5px 7px 7px 7px;
  border: 2px solid var(--dark100_white100);
  height: 48px;
  width: 40px;
  font-weight: bold;
  background-color: var(--dark100_white100);
  color: var(--white100_dark100);
  transition: 0.2s;
}

#newTaskBtn:hover {
  cursor: pointer;
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

/* Botão do menu */

#menuButton {
  color: var(--white100_dark100);
  background: var(--dark100_white100);
  width: 40px;
  height: 40px;
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  font-size: 1.25rem;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

#menuButton:hover,
#menuButton.active {
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

#menuButtonIconMobile {
  display: none;
}

/* Campo de informações do filtro atual */

#filterInformationBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  top: 3.5rem;
  left: 5%;
  border: 2px solid var(--dark100_white100);
  background-color: var(--white100_dark100);
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2px 8px;
  height: 1.5rem;
  z-index: -1;
}

#filterInformationText {
  font-family: "lato", "sans-serif";
  color: var(--dark100_white100);
  font-size: 0.8rem;
  user-select: none;
}

#filterInformation {
  margin-left: 5px;
  font-style: italic;
}

#cleanFilterBtn {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: var(--dark100_white100);
  height: 100%;
  width: 1rem;
  border-radius: 50%;
  transition: 0.3s;
}

#cleanFilterBtn:hover {
  color: var(--red);
}
