/* Fontes LATO e DELICIOUS HANDRAWN */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(51, 53, 51);
    --color2: rgb(36, 36, 35);
    --color3: rgb(245, 203, 92);
    --color4: rgb(232, 237, 223);
    --color5: rgb(207, 219, 213);
    --color6: rgb(127, 252, 45);
    --color7: rgb(66, 144, 207);
    --color8: rgb(243, 53, 53);
}

body {
    background-color: var(--color1);
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background-color: var(--color2);
}

#header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

#header .logo img {
    width: 75px;
}

#header .logo h1 {
    font-family: 'Delicious Handrawn', 'cursive';
    font-size: 40px;
    text-transform: capitalize;
    color: var(--color3);
}

#header .menu {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#header .menu a {
    text-decoration: none;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    text-transform: capitalize;
    color: var(--color4);
    border-bottom: 4px solid var(--color2);
    padding-bottom: 5px;
    transition: 0.2s;
}

#header .menu a:hover {
    border-bottom: 4px solid var(--color3);
}

#header .menu a:last-child {
    background-color: var(--color3);
    padding: 10px 20px;
    margin-bottom: 4px;
    color: var(--color2);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid var(--color3);
}

#header .menu a:last-child:hover {
    background-color: var(--color1);
    color: var(--color3);
}

#mainContainer {
    width: 100%;
}

.container {
    padding: 0 10%;
}

.newTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 15vh;
}

.newTaskContainerInput {
    position: relative;
    width: 40%;
    min-width: 500px;
    height: 30%;
}

#newTaskInput {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 50px 5px 10px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
}

#newTaskBtn {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid var(--color3);
    height: 30%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color3);
    color: var(--color2);
    transition: 0.2s;
}

#newTaskBtn:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color3);
}

#cleanInputBtn {
    position: absolute;
    height: 100%;
    width: 50px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: rgb(150, 150, 150);
    border: none;
    outline: none;
    background-color: rgba(150, 150, 150, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
    right: 0;
    display: none;
}

#cleanInputBtn:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.3);
    color: rgb(100, 100, 100);
}

.tasksContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tasksContainer.oneOrTwoTasks {
    justify-content: center;
}

.taskField {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 410px;
    height: 70px;
    background-color: var(--color2);
    border-radius: 5px;
    margin: 15px 1.6666%;
    padding: 0 10px;
    border: 2px solid var(--color3);
}

.taskField p {
    font-size: 16px;
    color: var(--color4);
    font-family: 'lato', 'sans-serif';
    overflow-x: hidden;
    width: 75%;
}

.taskField.oneTask  {
    width: calc(40% +  130px);
    padding: 0 20px;
}

.taskField.oneTask p  {
    width: calc(75% +  130px)
}

.taskField.twoTasks  {
    width: 40%;
    padding: 0 20px;
}

.taskField.twoTasks p {
    width: calc(75% +  10px)
}

.taskField:hover .checkBtn,.taskField:hover .scheduleBtn,.taskField:hover .editBtn, .taskField:hover .removeBtn {
    display: block;
}

.btnField {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.checkBtn, .scheduleBtn, .editBtn, .removeBtn {
    background: none;
    color: var(--color5);
    border: none;
    outline: none;
    font-size: 16px;
    display: none;
}

.checkBtn {
    color: var(--color6);
}

.scheduleBtn{
    color: var(--color7);
    font-size: 17px;
    margin-bottom: 3.5px;
}

.editBtn {
    color: var(--color3);
}

.removeBtn {
    color: var(--color8);
}

.checkBtn:hover, .scheduleBtn:hover, .editBtn:hover, .removeBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#header.hide {
    pointer-events: none;
}

#mainContainer.hide {
    pointer-events: none;
}

.editField {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color2);
    width: 450px;
    height: 350px;
    border: 2px solid var(--color3);
    border-radius: 5px;
    padding: 15px;
}

.editFieldHeader {
    display: flex;
    justify-content: space-between;
}

.editFieldHeader h1 {
    font-family: 'Lato', 'Sans-Serif';
    text-transform: uppercase;
    font-size: 25px;
    color: var(--color4);
}

#closeEditFieldBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    outline: none;
    background: none;
    color: var(--color4);
    transition: 0.2s;
}

#closeEditFieldBtn:hover {
    cursor: pointer;
    color: var(--color8);
}

.editFieldCenter {
    position: relative;
    width: 100%;
    height: 38px;
    margin-top: 80px;
}

#editInput {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 50px 5px 10px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
}

#cleanEditInputBtn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: rgb(150, 150, 150);
    border: none;
    outline: none;
    background-color: rgba(150, 150, 150, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
    display: none;
}

#cleanEditInputBtn:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.3);
    color: rgb(100, 100, 100);
}

.editFieldFooter {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 38px;
    margin-top: 40px;
}

#confirmEditBtn {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color3);
    border: 2px solid var(--color3);
    color: var(--color2);
    transition: 0.2s;
}

#confirmEditBtn:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color3);
}

#cancelEditBtn {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color4);
    color: var(--color2);
    transition: 0.2s;
}

#cancelEditBtn:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color2);
}

.editField.hide {
    display: none;
}

.scheduleField {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color2);
    width: 450px;
    height: 350px;
    border: 2px solid var(--color3);
    border-radius: 5px;
    padding: 15px;
}

.scheduleFieldHeader {
    display: flex;
    justify-content: space-between;
}

.scheduleFieldHeader h1 {
    font-family: 'Lato', 'Sans-Serif';
    text-transform: uppercase;
    font-size: 25px;
    color: var(--color4);
}

#scheduleFieldCloseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    outline: none;
    background: none;
    color: var(--color4);
    transition: 0.2s;
}

#scheduleFieldCloseBtn:hover {
    cursor: pointer;
    color: var(--color8);
}

.scheduleFieldCenter {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 38px;
    margin-top: 80px;
}

#scheduleInputDate {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
}

#scheduleInputTime {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
}

.scheduleFieldFooter {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 38px;
    margin-top: 40px;
}

#confirmScheduleBtn {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color3);
    border: 2px solid var(--color3);
    color: var(--color2);
    transition: 0.2s;
}

#confirmScheduleBtn:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color3);
}

#cancelScheduletBtn {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color4);
    color: var(--color2);
    transition: 0.2s;
}

#cancelScheduletBtn:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color2);
}

.scheduleField.hide {
    display: none;
}

.schedulingInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border: 2px solid var(--color3);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--color2);
    left: 0;
    top: 0;
}

.schedulingTextContent {
    font-size: 16px;
}

.schedulingRemoveBtn {
    background: none;
    border: none;
    color: var(--color8);
    font-size: 16px;
}

.schedulingRemoveBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#confirmField {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color2);
    width: 450px;
    height: 350px;
    border: 2px solid var(--color3);
    border-radius: 5px;
    padding: 15px;
}

#confirmFieldText {
    font-family: 'Lato', 'Sans-Serif';
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
    color: var(--color4);
}

.btnFieldToConfirm {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 38px;
    margin-top: 80px;
}

#btnYes {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color3);
    border: 2px solid var(--color3);
    color: var(--color2);
    transition: 0.2s;
}

#btnYes:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color3);
}

#btnNo {
    font-family: 'lato', 'sans-serif';
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color4);
    color: var(--color2);
    transition: 0.2s;
}

#btnNo:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color2);
}

#confirmField.hide {
    display: none;
}

.appointmentDate.hide {
    display: none;
}

.appointmentTime.hide {
    display: none;
}