/* Fontes LATO e DELICIOUS HANDRAWN */
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white_dark: rgb(250, 250, 250);
  --white50_dark50: rgb(210, 210, 210);
  --white100_dark100: rgb(230, 230, 230);
  --whiteShadow50_darkShadow50: rgba(250, 250, 250, 0.9);
  --dark_shadow: rgba(0, 0, 0, 0.5);
  --dark_white: rgb(0, 0, 0);
  --dark: rgb(0, 0, 0);
  --dark50_white50: rgb(45, 45, 45);
  --dark100_white100: rgb(35, 35, 35);
  --green: rgb(59, 148, 0);
  --greenNotification: rgb(87, 194, 0);
  --greenBackground: rgba(59, 148, 0, 0.1);
  --yellow: rgb(182, 148, 0);
  --yellowAlertInput: rgba(190, 181, 55, 0.2);
  --yellowBackground: rgba(182, 148, 0, 0.1);
  --blue: rgb(0, 90, 173);
  --blueBackground: rgba(0, 90, 173, 0.1);
  --red: rgb(190, 22, 0);
  --redBackground: rgba(190, 22, 0, 0.1);
  --grey: rgb(150, 150, 150);
  --grey_50: rgb(100, 100, 100);
  --grey_Opacity_2: rgba(150, 150, 150, 0.2);
  --grey_Opacity_3: rgba(150, 150, 150, 0.3);
}

.darkTheme:root {
  --white_dark: rgb(0, 0, 0);
  --white50_dark50: rgb(45, 45, 45);
  --white100_dark100: rgb(35, 35, 35);
  --whiteShadow50_darkShadow50: rgba(0, 0, 0, 0.8);
  --dark_shadow: rgba(0, 0, 0, 0.5);
  --dark_white: rgb(250, 250, 250);
  --dark: rgb(0, 0, 0);
  --dark50_white50: rgb(210, 210, 210);
  --dark100_white100: rgb(230, 230, 230);
  --green: rgb(127, 252, 45);
  --greenNotification: rgb(87, 194, 0);
  --greenBackground: rgba(127, 252, 45, 0.1);
  --yellow: rgb(250, 190, 44);
  --yellowAlertInput: rgba(194, 167, 46, 0.1);
  --yellowBackground: rgba(250, 190, 44, 0.1);
  --blue: rgb(125, 157, 244);
  --blueBackground: rgba(125, 157, 244, 0.1);
  --red: rgb(243, 53, 53);
  --redBackground: rgba(243, 53, 53, 0.1);
  --grey: rgb(150, 150, 150);
  --grey_50: rgb(200, 200, 200);
  --grey_Opacity_2: rgba(150, 150, 150, 0.2);
  --grey_Opacity_3: rgba(150, 150, 150, 0.3);
}

body {
  background-color: var(--white100_dark100);
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
}

#mainContainer::-webkit-scrollbar {
  width: 5px;
  background-color: var(--white100_dark100);
}

.taskContent::-webkit-scrollbar,
#menu::-webkit-scrollbar,
.notePadInput::-webkit-scrollbar {
  width: 3px;
  background-color: var(--white50_dark50);
  border-radius: 5px;
  cursor: default;
}

.taskContent::-webkit-scrollbar-thumb,
#menu::-webkit-scrollbar-thumb,
.notePadInput::-webkit-scrollbar-thumb {
  background: var(--grey_50);
  border-radius: 5px;
  cursor: default;
}

.taskContent.completed::-webkit-scrollbar-thumb {
  background: var(--green);
}

.taskFront.scheduled .taskContent::-webkit-scrollbar-thumb {
  background: var(--blue);
}

.taskFront.scheduled.expireAlert .taskContent::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

.taskFront.expiredTask .taskContent::-webkit-scrollbar-thumb {
  background: var(--red);
}

#mainContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--red),
    var(--blue),
    var(--yellow),
    var(--green)
  );
}

#headerBox {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  padding: 0 5%;
  background-color: var(--white100_dark100);
}

#logoBox {
  width: 50px;
  height: 50px;
}

#logoImg {
  width: 100%;
  height: 100%;
}

#menuButton {
  color: var(--white100_dark100);
  background: var(--dark100_white100);
  width: 40px;
  height: 40px;
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  font-size: 1.25rem;
  outline: none;
  transition: 0.2s;
}

#menuButton:hover,
#menuButton.active {
  cursor: pointer;
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

#menuButtonIconMobile {
  display: none;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  top: 6rem;
  right: 5%;
  background-color: var(--white100_dark100);
  border-radius: 5px;
  width: 12rem;
  box-shadow: 6px 6px 10px 0px var(--dark_shadow);
  padding: 1rem;
  user-select: none;
  z-index: -1;
}

#menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateX(-50%);
  border-bottom: 10px solid var(--white100_dark100);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#newTaskContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
}

#newTaskContainerInput {
  position: relative;
  width: 37.5rem;
  height: 3rem;
}

#newTaskInput {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--grey_50);
  background-color: var(--white100_dark100);
  padding: 5px 50px 5px 10px;
  font-family: "lato", "sans-serif";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark100_white100);
  transition: 0.2s;
}

#newTaskInput::placeholder,
#searchTaskInput::placeholder,
#editInput::placeholder,
.notePadInput::placeholder,
#nameInput::placeholder {
  transition: 0.2s;
  color: var(--grey);
}

#newTaskBtn {
  position: relative;
  text-align: center;
  line-height: 0px;
  font-family: "lato", "sans-serif";
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 5px 7px 7px 7px;
  border: 2px solid var(--dark100_white100);
  height: 48px;
  width: 40px;
  font-weight: bold;
  background-color: var(--dark100_white100);
  color: var(--white100_dark100);
  transition: 0.2s;
}

#newTaskBtn:hover {
  cursor: pointer;
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

#cleanNewTaskInputBtn,
#cleanEditInputBtn {
  position: absolute;
  height: 100%;
  font-family: "lato", "sans-serif";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--grey);
  border: none;
  outline: none;
  background-color: var(--grey_Opacity_2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s;
  right: 0;
  cursor: pointer;
}

#cleanNewTaskInputBtn {
  width: 50px;
}

#cleanEditInputBtn {
  width: 40px;
}

#cleanNewTaskInputBtn:hover,
#cleanEditInputBtn:hover {
  background-color: var(--grey_Opacity_3);
  color: var(--grey_50);
}

#accountIdentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#imgIdentBox {
  position: relative;
  background-color: var(--dark100_white100);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: 0.3s;
}

#inputFileBtnPlus,
#inputFileBtnDel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background-color: var(--whiteShadow50_darkShadow50);
  color: var(--dark_white);
  height: 1.5rem;
  width: 1.5rem;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}

#imgIdentBox:hover {
  cursor: pointer;
}

#imgIdentBox:hover #inputFileBtnPlus,
#imgIdentBox:hover #inputFileBtnDel {
  opacity: 1;
}

#uploadedImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
  background-color: var(--white100_dark100);
}

#inputFileImgLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--grey);
  cursor: pointer;
}

#inputFileImg {
  display: none;
}

#nameIdentBox {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;
}

#nameIdentBox.editing {
  background-color: var(--yellowAlertInput);
}

#nameIdentBox::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  background-color: var(--yellow);
  transition: 0.2s;
}

#nameIdentBox.active::after {
  width: 100%;
}

#nameInput {
  font-family: "lato", "sans-serif";
  font-size: 0.85rem;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  color: var(--dark100_white100);
  text-align: center;
  padding: 5px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

#nameInput.active {
  cursor: auto;
}

#nameIdentIcon,
#saveNameButton,
#deleteNameButton,
#recoverNameButton {
  position: absolute;
  border: none;
  font-size: 0.75rem;
  width: 1rem;
  color: var(--dark100_white100);
  background-color: transparent;
  height: 100%;
  align-content: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

#nameIdentIcon,
#saveNameButton {
  right: 0;
}

#nameIdentIcon {
  opacity: 0;
}

#deleteNameButton,
#recoverNameButton {
  left: 0;
}

#saveNameButton:hover {
  color: var(--green);
}

#deleteNameButton:hover {
  color: var(--red);
}

#recoverNameButton:hover {
  color: var(--yellow);
}

#nameIdentBox:hover #nameIdentIcon {
  opacity: 0.5;
}

#searchContainer {
  position: relative;
  width: 100%;
}

#searchTaskInput {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--grey_50);
  background-color: var(--white100_dark100);
  padding: 8px 23px 8px 8px;
  font-family: "lato", "sans-serif";
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--dark100_white100);
  transition: 0.2s;
}

#searchTaskInput::-webkit-search-cancel-button {
  display: none;
}

#cleanInputSearchBtn {
  position: absolute;
  text-align: center;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: var(--dark100_white100);
  height: 100%;
  width: 23px;
  opacity: 0.7;
  transition: 0.3s;
}

#cleanInputSearchBtn:hover {
  opacity: 1;
}

#filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

#filterContainer a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 4px solid var(--white100_dark100);
  padding: 5px 10px;
  transition: 0.2s;
}
#filterContainer a,
#filterContainer a p span {
  color: var(--grey);
  font-family: "lato", "sans-serif";
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: bold;
}

#filterContainer a:hover,
#filterContainer a.active {
  cursor: pointer;
  color: var(--dark100_white100);
}

#filterContainer #allTasksFilterBtn:hover,
#allTasksFilterBtn.active {
  border-left: 4px solid var(--dark100_white100);
}

#filterContainer #pendingTasksFilterBtn:hover,
#pendingTasksFilterBtn.active {
  border-left: 4px solid var(--yellow);
}

#filterContainer #completedTasksFilterBtn:hover,
#completedTasksFilterBtn.active {
  border-left: 4px solid var(--green);
}

#filterContainer #scheduledTasksFilterBtn:hover,
#scheduledTasksFilterBtn.active {
  border-left: 4px solid var(--blue);
}

#filterContainer #expiredTasksFilterBtn:hover,
#expiredTasksFilterBtn.active {
  border-left: 4px solid var(--red);
}

#themeBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#themeTitle,
#layoutConfigTitle {
  color: var(--dark100_white100);
  font-family: "lato", "sans-serif";
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: bold;
}

#themeCheckBox {
  display: none;
}

#themeCheckBoxLabel {
  background-color: var(--grey);
  width: 3.5rem;
  height: 1.75rem;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

#themeCheckBoxLabel:hover {
  background-color: var(--grey_50);
}

#themeBall {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white_dark);
  height: 100%;
  width: 50%;
  border-radius: 50%;
  color: var(--dark100_white100);
  scale: 0.9;
  transition: 0.2s;
  right: 50%;
  opacity: 0.8;
}

#themeBallMoon {
  display: none;
}

#themeCheckBox:checked ~ #themeBall {
  right: 0;
}

#themeCheckBox:checked ~ #themeBall #themeBallMoon {
  display: block;
}

#themeCheckBox:checked ~ #themeBall #themeBallSun {
  display: none;
}

#removeAllTasksBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#removeAllTaskBtn,
#removeAllConfigBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  border: 2px solid var(--grey_50);
  border-radius: 5px;
  background-color: var(--white50_dark50);
  transition: 0.2s;
}

#removeAllTaskBtn p,
#removeAllConfigBtn p {
  color: var(--dark100_white100);
  font-family: "lato", "sans-serif";
  font-size: 0.875rem;
  font-weight: bold;
}

#removeAllTaskBtn i,
#removeAllConfigBtn i {
  color: var(--dark100_white100);
  transition: 0.2s;
}

#removeAllTaskBtn.hover:hover,
#removeAllConfigBtn.hover:hover {
  cursor: pointer;
  background-color: var(--white_dark);
  border: 2px solid var(--red);
}

#removeAllTaskBtn.hover:hover i,
#removeAllConfigBtn.hover:hover i {
  color: var(--red);
}

#mainContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 5rem);
  height: calc(100dvh - 5rem);
  top: 5rem;
  overflow-x: hidden;
  background-color: var(--white50_dark50);
  scrollbar-gutter: stable;
}

#noTaskTextContainer {
  position: fixed;
  top: calc(5rem + 15%);
  left: 50%;
  transform: translate(-50%, -15%);
}

#noTaskText {
  color: var(--dark100_white100);
  text-align: center;
  font-family: "lato", "sans-serif";
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}

#filterInformationBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  top: 3.5rem;
  left: 5%;
  border: 2px solid var(--dark100_white100);
  background-color: var(--white100_dark100);
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2px 8px;
  height: 1.5rem;
  z-index: -1;
}

#filterInformationText {
  font-family: "lato", "sans-serif";
  color: var(--dark100_white100);
  font-size: 0.8rem;
  user-select: none;
}

#filterInformation {
  margin-left: 5px;
  font-style: italic;
}

#cleanFilterBtn {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: var(--dark100_white100);
  height: 100%;
  width: 1rem;
  border-radius: 50%;
  transition: 0.3s;
}

#cleanFilterBtn:hover {
  color: var(--red);
}

#tasksContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 15rem);
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  padding: 3.5rem 5% 3.125rem;
  column-gap: 30px;
  row-gap: 40px;
  background-color: var(--white50_dark50);
}

.taskField {
  background-color: transparent;
  perspective: 800px;
  position: relative;
  height: 10rem;
}

.task {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in;
  transform-style: preserve-3d;
}

.task.flipAnimate {
  transform: rotateY(-180deg);
}

.taskFront {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white100_dark100);
  border-radius: 5px;
  padding: 14px 10px 0px 10px;
  border: 2px solid var(--grey_50);
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.taskFront,
.notePadContainer.taskBehind {
  position: absolute;
  backface-visibility: hidden;
}

.taskBehind {
  transform: rotateY(-180deg);
}

.taskFront::after {
  content: "";
  position: absolute;
  bottom: 41px;
  background-color: var(--grey_50);
  width: 0;
  height: 2px;
  transition: 0.2s;
}

.taskFront.hover:hover::after {
  width: calc(100% - 30px);
}

.taskFront.completed::after {
  background-color: var(--green);
}

.taskFront.scheduled::after {
  background-color: var(--blue);
}

.taskFront.scheduled.expireAlert::after {
  background-color: var(--yellow);
}

.taskFront.expiredTask::after {
  background-color: var(--red);
}

.taskFront.hover:hover,
.taskFront.active,
.notePadContainer.active {
  box-shadow: 0 0 10px 2px var(--grey_50);
}

.taskFront.completed {
  border: 2px solid var(--green);
  background-color: var(--greenBackground);
}

.taskFront.completed.hover:hover,
.taskFront.completed.active {
  box-shadow: 0 0 10px 2px var(--green);
}

.taskFront.scheduled {
  border: 2px solid var(--blue);
  background-color: var(--blueBackground);
}

.taskFront.scheduled.hover:hover,
.taskFront.scheduled.active {
  box-shadow: 0 0 10px 2px var(--blue);
}

.taskFront.scheduled.expireAlert {
  border: 2px solid var(--yellow);
  background-color: var(--yellowBackground);
}

.taskFront.scheduled.expireAlert.hover:hover,
.taskFront.scheduled.expireAlert.active {
  box-shadow: 0 0 10px 2px var(--yellow);
}

.taskFront.expiredTask {
  border: 2px solid var(--red);
  background-color: var(--redBackground);
}

.taskFront.expiredTask.hover:hover,
.taskFront.expiredTask.active {
  box-shadow: 0 0 10px 2px var(--red);
}

.taskFront.scheduled.hover:hover .taskInfo.scheduled,
.taskInfo.scheduled.active {
  box-shadow: 0 -3px 10px -1px var(--blue);
}

.taskFront.scheduled.expireAlert.hover:hover .taskInfo.scheduled.expireAlert,
.taskInfo.scheduled.expireAlert.active {
  box-shadow: 0 -3px 10px -1px var(--yellow);
}

.taskFront.expiredTask.hover:hover .taskInfo.expiredTask,
.taskInfo.expiredTask.active {
  box-shadow: 0 -3px 10px -1px var(--red);
}

.taskFront.completed.hover:hover .taskInfo.completed,
.taskInfo.completed.active {
  box-shadow: 0 -3px 10px -1px var(--green);
}

.taskContent {
  font-family: "lato", "sans-serif";
  font-size: 1rem;
  color: var(--dark100_white100);
  cursor: default;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 0 5px 6px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.taskContent.completed {
  text-decoration: line-through;
}

.taskFront.hover:hover .checkBtn,
.taskFront.hover:hover .scheduleBtn,
.taskFront.hover:hover .editBtn,
.taskFront.hover:hover .removeBtn,
.taskFront.hover:hover .notesBtn {
  transform: translateY(0);
  opacity: 1;
}

.taskFront.hover:hover .disabledBtn {
  display: none;
}

.disabledBtn {
  display: none;
}

.btnField {
  position: relative;
  height: 60px;
  padding: 0 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.checkBtn,
.scheduleBtn,
.editBtn,
.removeBtn,
.notesBtn {
  font-size: 18px;
  width: 25px;
  height: 80%;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
  transition: transform 0.3s, translate 0.2s, opacity 0.3s;
  transform: translateY(5px);
}

.removeBtn {
  position: absolute;
  right: 5px;
}

.notesBtn {
  position: relative;
}

.checkBtn {
  color: var(--green);
}

.checkBtn i.fa-rotate {
  color: var(--grey_50);
}

.editBtn {
  color: var(--yellow);
}

.scheduleBtn {
  color: var(--blue);
}

.removeBtn {
  color: var(--red);
}

.notesBtn {
  color: var(--grey_50);
}

.checkBtn:hover,
.scheduleBtn:hover,
.editBtn:hover,
.removeBtn:hover,
.notesBtn:hover {
  cursor: pointer;
  translate: 0px -2px;
}

.notesBtn.active::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--greenNotification);
  border: 1px solid var(--dark);
  border-radius: 50%;
  bottom: 5px;
  right: 3px;
  z-index: 1;
}

#editField,
#scheduleField {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 50%;
  top: calc(5rem + 37%);
  background-color: var(--white100_dark100);
  width: 20rem;
  height: 15rem;
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  padding: 15px;
  z-index: 1;
}

#editFieldHeader,
#scheduleFieldHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark100_white100);
  padding-bottom: 10px;
}

#editFieldHeader h1,
#scheduleFieldHeader h1 {
  font-family: "Lato", "Sans-Serif";
  text-transform: capitalize;
  font-size: 1.3rem;
  color: var(--dark100_white100);
  user-select: none;
}

#closeEditFieldBtn,
#scheduleFieldCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  color: var(--dark100_white100);
  transition: 0.2s;
}

#closeEditFieldBtn:hover,
#scheduleFieldCloseBtn:hover {
  cursor: pointer;
  color: var(--red);
}

#editFieldCenter {
  position: relative;
  width: 100%;
}

#scheduleFieldCenter {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

#editInput,
#scheduleInputDate,
#scheduleInputTime {
  font-family: "lato", "sans-serif";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark100_white100);
  background-color: var(--white100_dark100);
  border: 2px solid var(--grey_50);
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

#scheduleInputDate {
  width: 60%;
}

#scheduleInputTime {
  width: 40%;
}

#editInput {
  width: 100%;
  height: 100%;
  padding: 5px 50px 5px 10px;
}

#scheduleInputDate,
#scheduleInputTime {
  padding: 5px 10px;
}

#editFieldFooter,
#scheduleFieldFooter {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 38px;
}

#confirmEditBtn,
#confirmScheduleBtn,
#btnYes,
#cancelEditBtn,
#cancelScheduletBtn,
#btnNo {
  font-family: "lato", "sans-serif";
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 100%;
  text-transform: capitalize;
  font-weight: bold;
  background-color: var(--dark100_white100);
  color: var(--white100_dark100);
  transition: 0.2s;
  line-height: 0;
}

#confirmEditBtn,
#confirmScheduleBtn,
#cancelEditBtn,
#cancelScheduletBtn {
  width: 6rem;
}

#btnYes,
#btnNo {
  width: 5rem;
}

#confirmEditBtn,
#confirmScheduleBtn,
#btnYes {
  border: 2px solid var(--dark100_white100);
}

#cancelEditBtn,
#cancelScheduletBtn,
#btnNo {
  opacity: 0.6;
}

#confirmEditBtn:hover,
#confirmScheduleBtn:hover,
#btnYes:hover {
  cursor: pointer;
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

#cancelEditBtn:hover,
#cancelScheduletBtn:hover,
#btnNo:hover {
  cursor: pointer;
  opacity: 1;
}

#scheduleInputDate::-webkit-calendar-picker-indicator,
#scheduleInputTime::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0) brightness(100%) sepia(100%) saturate(100%);
}

#scheduleInputDate.darkTheme::-webkit-calendar-picker-indicator,
#scheduleInputTime.darkTheme::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1) brightness(100%) sepia(100%) saturate(100%);
}

.taskInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: var(--white100_dark100);
  right: 5px;
  top: -25px;
  transition: box-shadow 0.3s, border 0.3s;
}

.completedTaskIcon {
  color: var(--green);
}

.taskInfo.scheduled {
  border: 2px solid var(--blue);
}

.taskInfo.completed {
  border: 2px solid var(--green);
  gap: 10px;
}

.taskInfo.completed:hover {
  box-shadow: 0 -3px 10px -1px var(--green);
}

.taskInfo.expireAlert {
  border: 2px solid var(--yellow);
}

.taskInfo.expiredTask {
  border: 2px solid var(--red);
}

.infoTextContent {
  font-size: 0.8rem;
  color: var(--dark100_white100);
  font-family: "lato", "sans-serif";
  font-weight: bold;
  user-select: none;
}

.schedulingRemoveBtn {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: var(--white100_dark100);
  border-radius: 50%;
  border: none;
  font-size: 1.3rem;
  opacity: 0;
  transition: 0.3s;
}

.taskFront.hover:hover .schedulingRemoveBtn {
  opacity: 1;
}

.taskInfo.scheduled .schedulingRemoveBtn {
  color: var(--blue);
}

.taskInfo.scheduled.expireAlert .schedulingRemoveBtn {
  color: var(--yellow);
}

.taskInfo.expiredTask .schedulingRemoveBtn {
  color: var(--red);
}

.schedulingRemoveBtn:hover {
  cursor: pointer;
}

.schedulingRemoveBtn:hover,
.taskInfo.scheduled .schedulingRemoveBtn:hover {
  color: var(--red);
}

.taskInfo.expiredTask .schedulingRemoveBtn:hover {
  color: var(--dark100_white100);
}

#confirmationWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 50%;
  top: calc(5rem + 37%);
  background-color: var(--white100_dark100);
  width: 20rem;
  height: 15rem;
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  padding: 15px;
  z-index: 1;
}

#confirmationWindowText {
  font-family: "Lato", "Sans-Serif";
  font-size: 1.1rem;
  text-align: center;
  color: var(--dark100_white100);
  user-select: none;
}

#btnFieldToConfirm {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 38px;
}

#newTaskInput:focus,
#editInput:focus,
#scheduleInputDate:focus,
#scheduleInputTime:focus,
#searchTaskInput:focus {
  border: 2px solid var(--grey_50);
  box-shadow: 0 0 10px 2px var(--grey_50);
}

#newTaskInput.inputError,
#editInput.inputError,
#scheduleInputDate.inputError,
#scheduleInputTime.inputError {
  border: 2px solid var(--red);
  box-shadow: 0 0 10px 2px var(--red);
}

/* Estilização do bloco de anotações */

.notePadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(100% + 23px);
  bottom: 0;
  background-color: var(--white100_dark100);
  border: 2px solid var(--grey_50);
  border-radius: 5px;
  padding: 0px 10px;
  transition: box-shadow 0.3s;
}

.notePadTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: 2px solid var(--dark100_white100);
}

.notePadTitle {
  font-family: "Lato", "Sans-Serif";
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark100_white100);
  user-select: none;
}

.saveNoteBtn {
  color: var(--dark100_white100);
}

.notePadInput {
  width: 100%;
  height: 60%;
  color: var(--dark100_white100);
  background: var(--white100_dark100);
  padding-right: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  resize: none;
  font-size: 0.9rem;
  font-family: "lato", "sans-serif";
}

.saveNoteBtn:hover {
  cursor: pointer;
  color: var(--green);
}

.notePadBtnField {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
}

.cleanNoteBtn,
.saveNoteBtn {
  border: none;
  background: var(--white100_dark100);
  width: 25px;
  height: 100%;
  margin-right: -5px;
  transition: 0.3s;
}

.saveNoteBtn {
  font-size: 1rem;
}

.cleanNoteBtn {
  font-size: 1rem;
  color: var(--dark100_white100);
}

.cleanNoteBtn:hover {
  cursor: pointer;
  color: var(--red);
}

/* Classes de animações para janelas e elementos */

#tasksContainer.tasksContainerHide,
#noTaskTextContainer.noTaskTextHide {
  pointer-events: none;
  animation: tasksContainerHide 0.2s ease-in forwards;
}

#filterInformationBox.filterInformationBlur,
#menu.menuBlur {
  pointer-events: none;
  filter: blur(5px);
  transition: 0.2s ease-in;
}

#filterInformationBox.filterInformationOffBlur,
#menu.menuOffBlur {
  pointer-events: visible;
  filter: blur(0);
  transition: 0.2s ease-in;
}

#tasksContainer.tasksContainerAppear,
#noTaskTextContainer.noTaskTextAppear {
  animation: tasksContainerAppear 0.2s ease-in forwards;
}

.taskField.appearTask {
  animation: appearTask 0.2s ease-in forwards;
}

.taskField.vanishTask {
  animation: vanishTask 0.2s ease-in forwards;
}

.taskInfo.appearTaskInfo {
  animation: appearTaskInfo 0.2s ease-in forwards;
  transition: none;
}

.taskInfo.vanishTaskInfo {
  animation: vanishTaskInfo 0.2s ease-in forwards;
}

#editField.appearWindow,
#scheduleField.appearWindow,
#confirmationWindow.appearWindow {
  animation: appearWindow 0.2s ease-in forwards;
}

#editField.vanishWindow,
#scheduleField.vanishWindow,
#confirmationWindow.vanishWindow {
  animation: vanishWindow 0.2s ease-in forwards;
}

.editAnimation {
  animation: editAnimation 0.3s;
}

.notePadContainer.pointerEventsVisible {
  pointer-events: visible;
}

.lowOpacity {
  animation: lowOpacity 0.2s forwards;
}

.normalOpacity {
  animation: normalOpacity 0.2s forwards;
}

#menu.menuAppear {
  animation: menuAppear 0.2s forwards ease-out;
}

#menu.menuVanish {
  animation: menuVanish 0.2s forwards ease-in;
}

.notePadContainer.notePadContainerAppear {
  animation: notePadContainerAppear 0.2s forwards ease-in;
}

.notePadContainer.notePadContainerVanish {
  animation: notePadContainerVanish 0.2s forwards ease-in;
}

#filterInformationBox.filterInfoAppear {
  animation: filterInfoAppear 0.2s ease-in forwards;
}

#filterInformationBox.filterInfoVanish {
  animation: filterInfoVanish 0.2s ease-in forwards;
}

#header.pointerEventsNone,
.taskField.pointerEventsNone,
#mainContainer.pointerEventsNone,
.btnField.pointerEventsNone,
#menu.pointerEventsNone,
#filterInformationBox.pointerEventsNone,
.taskFront.pointerEventsNone {
  pointer-events: none;
  user-select: none;
}

#menu.hide,
.cleanNoteBtn.hide,
.appointmentDate.hide,
.appointmentTime.hide,
#confirmationWindow.hide,
#scheduleField.hide,
#editField.hide,
.taskInfo.hide,
.completedTaskIcon.hide,
.schedulingRemoveBtn.hide,
.notePadContainer.hide,
.notesInfo.hide,
.notesBtnAlert.hide,
#noTaskTextContainer.hide,
.taskField.hide,
#cleanInputSearchBtn.hide,
#inputFileBtnDel.hide,
#inputFileBtnPlus.hide,
#cleanNewTaskInputBtn.hide,
#cleanEditInputBtn.hide,
#nameIdentIcon.hide,
#saveNameButton.hide,
#deleteNameButton.hide, 
#recoverNameButton.hide {
  display: none;
  pointer-events: none;
  user-select: none;
}

/* Animações */

@keyframes lowOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes normalOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tasksContainerHide {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px) opacity(0.3);
  }
}

@keyframes tasksContainerAppear {
  0% {
    filter: blur(5px) opacity(0.3);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes appearWindow {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes vanishWindow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

@keyframes editAnimation {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearTask {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes vanishTask {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes appearTaskInfo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes vanishTaskInfo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes menuAppear {
  0% {
    top: -6rem;
    opacity: 0;
  }
  100% {
    top: 6rem;
    opacity: 1;
  }
}

@keyframes menuVanish {
  0% {
    top: 6rem;
    opacity: 1;
  }
  100% {
    top: -6rem;
    opacity: 0;
  }
}

@keyframes menuAppearRightToLeft {
  0% {
    right: -12rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes menuVanishRightToLeft {
  0% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: -12rem;
    opacity: 0;
  }
}

@keyframes notePadContainerAppear {
  0% {
    transform: translateY(-40px) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateY(0px) scale(1);
    opacity: 0.5;
  }
  75% {
    transform: translateY(20px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes notePadContainerVanish {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(20px) scale(1.1);
    opacity: 1;
  }
  75% {
    transform: translateY(0px) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-40px) scale(0.8);
    opacity: 0;
  }
}

@keyframes animeBtnMobile {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes filterInfoAppear {
  0% {
    top: 3.5rem;
    opacity: 0;
  }
  100% {
    top: 5rem;
    opacity: 1;
  }
}

@keyframes filterInfoVanish {
  0% {
    top: 5rem;
    opacity: 1;
  }
  100% {
    top: 3.5rem;
    opacity: 0;
  }
}

@keyframes filterInfoAppearMobile {
  0% {
    top: 8.5rem;
    opacity: 0;
  }
  100% {
    top: 10rem;
    opacity: 1;
  }
}

@keyframes filterInfoVanishMobile {
  0% {
    top: 10rem;
    opacity: 1;
  }
  100% {
    top: 8.5rem;
    opacity: 0;
  }
}

/* Responsividade da aplicação */

@media (min-width: 1921px) {
  #header {
    padding: 0 6rem;
  }
  #tasksContainer {
    padding: 3.5rem 6rem 3.125rem;
  }
}

@media (max-width: 1771px) {
  #tasksContainer {
    grid-template-columns: repeat(5, 15rem);
  }
}

@media (max-width: 1471px) {
  #tasksContainer {
    grid-template-columns: repeat(4, 15rem);
  }
}

@media (max-width: 1171px) {
  #tasksContainer {
    grid-template-columns: repeat(3, 15rem);
  }
}

@media (max-width: 1024px) {
  #newTaskContainer {
    width: 70%;
  }
  #newTaskBtn:hover {
    background-color: var(--dark100_white100);
    color: var(--white100_dark100);
    box-shadow: none;
  }
  #menuButton:hover {
    background-color: var(--dark100_white100);
    color: var(--white100_dark100);
    box-shadow: none;
  }
  #menuButton.active {
    cursor: pointer;
    background-color: var(--white100_dark100);
    color: var(--dark100_white100);
    box-shadow: 0 0 10px 2px var(--dark100_white100);
  }
  #nameIdentIcon {
    opacity: 0.5;
  }
  #saveNameButton {
    color: var(--green);
  }
  #deleteNameButton {
    color: var(--red);
  }
  #recoverNameButton {
    color: var(--yellow);
  }
  #inputFileBtnPlus,
  #inputFileBtnDel {
    opacity: 1;
  }
  .taskFront::after {
    width: calc(100% - 30px);
  }
  .schedulingRemoveBtn {
    opacity: 1;
  }
  .checkBtn,
  .scheduleBtn,
  .editBtn,
  .removeBtn,
  .notesBtn {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
  .checkBtn:hover,
  .scheduleBtn:hover,
  .editBtn:hover,
  .removeBtn:hover,
  .notesBtn:hover {
    translate: 0;
  }
  .saveNoteBtn {
    color: var(--green);
  }
  .cleanNoteBtn {
    color: var(--red);
  }
  #closeEditFieldBtn,
  #scheduleFieldCloseBtn {
    color: var(--red);
  }
}

@media (max-width: 871px) {
  #tasksContainer {
    grid-template-columns: repeat(2, 15rem);
  }
}

@media (max-width: 620px) {
  #menu {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
    border-radius: 0;
    box-shadow: none;
    right: 0;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  #filterInformationBox {
    top: 8.5rem;
  }
  #filterInformationBox.filterInfoAppear {
    animation: filterInfoAppearMobile 0.2s forwards ease-in;
  }
  #filterInformationBox.filterInfoVanish {
    animation: filterInfoVanishMobile 0.2s forwards ease-in;
  }
  #menuButtonIcon {
    display: none;
  }
  #menuButtonIconMobile {
    display: block;
  }
  #menu.menuAppear {
    animation: menuAppearRightToLeft 0.2s forwards ease-in;
  }
  #menu.menuVanish {
    animation: menuVanishRightToLeft 0.2s forwards ease-in;
  }
  #mainContainer {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
  }
  #newTaskContainer {
    position: absolute;
    background-color: var(--white100_dark100);
    padding: 0 5%;
    top: 5rem;
    left: 0;
    width: 100%;
  }
  #noTaskTextContainer {
    top: calc(10rem + 15%);
  }
  #editField,
  #scheduleField,
  #confirmationWindow {
    top: calc(10rem + 30%);
  }
}

@media (max-width: 571px) {
  #tasksContainer {
    grid-template-columns: repeat(1, 15rem);
  }
}

@media (max-width: 450px) {
  #editField,
  #scheduleField,
  #confirmationWindow {
    width: 75%;
    height: 14rem;
  }
  #scheduleFieldCenter {
    flex-direction: column;
  }
  #scheduleInputDate,
  #scheduleInputTime {
    width: 100%;
  }
}

@media (max-height: 660px) {
  #menu {
    top: 5rem;
    height: calc(100vh - 5rem);
    height: calc(100dvh - 5rem);
    border-radius: 0;
    box-shadow: none;
    right: 0;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  #menuButtonIcon {
    display: none;
  }
  #menuButtonIconMobile {
    display: block;
  }
  #menu.menuAppear {
    animation: menuAppearRightToLeft 0.2s forwards ease-in;
  }
  #menu.menuVanish {
    animation: menuVanishRightToLeft 0.2s forwards ease-in;
  }
}

@media (max-width: 620px) and (max-height: 660px) {
  #menu {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
  }
}
