/* Variáveis cores tema claro e escuro */

/* :root (Tema Claro - Default) */
:root {
  /* == Fundos == */

  --color-bg-base: rgb(210, 210, 210); /* Fundo container principal */
  --color-bg-surface: rgb(230, 230, 230); /* Fundo header, menu, modais */
  --color-bg-input: var(--color-bg-surface); /* Fundo inputs */
  --color-bg-input-active: rgba(182, 148, 0, 0.1); /* Fundo input ativo */
  --color-bg-input-active-after: rgb(182, 148, 0); /* Fundo input ativo after */
  
  /* == Textos == */

  --color-text-primary: rgb(35, 35, 35); /* Texto principal */
  --color-text-secondary: rgb(100, 100, 100); /* Texto secundário/neutro */
  --color-text-placeholder: rgb(150, 150, 150); /* Texto placeholder */
  
  /* == Bordas == */

  --color-border-primary: rgb(35, 35, 35); /* Borda mais forte (modais, botões) */
  --color-border-secondary: rgb(100, 100, 100); /* Borda secundária */
  --color-border-input: var(--color-border-secondary); /* Borda inputs */
  --color-border-indicator-dot-active: rgb(35, 35, 35); /* Borda ponto de notificação para tarefas com anotações */
  --color-border-input-error: var(--color-task-expired-state); /* Bordas input com erros */

  /* == Status == */

  --color-task-default-state: var(--color-border-secondary); /* Uso geral componentes baseado na cor da tarefa inicial */
  --color-task-completed-state: rgb(59, 148, 0); /* Uso geral componentes baseado na cor da tarefa concluída */
  --color-task-scheduled-state: rgb(0, 90, 173); /* Uso geral componentes baseado na cor da tarefa agendada */
  --color-task-alert-state: rgb(182, 148, 0); /* Uso geral componentes baseado na cor da tarefa com alerta */
  --color-task-expired-state: rgb(190, 22, 0); /* Uso geral componentes baseado na cor da tarefa expirada */

  --color-border-filter-status-all: var(--color-border-primary); /* Borda filtro todas as tarefas */
  --color-border-filter-status-completed: var(--color-task-completed-state); /* Borda filtro tarefas concluídas */
  --color-border-filter-status-scheduled: var(--color-task-scheduled-state); /* Borda filtro tarefas agendadas */
  --color-border-filter-status-pending: var(--color-task-alert-state); /* Borda filtro tarefas pendentes */
  --color-border-filter-status-expired: var(--color-task-expired-state); /* Borda filtro tarefas expiradas */

  --color-bg-task-default: var(--color-bg-surface); /* Fundo inicial da tarefa */
  --color-bg-task-completed: rgba(59, 148, 0, 0.1); /* Fundo tarefa concluída */
  --color-bg-task-scheduled: rgba(0, 90, 173, 0.1); /* Fundo tarefa agendada */
  --color-bg-task-alert: rgba(182, 148, 0, 0.1); /* Fundo tarefa com alerta */
  --color-bg-task-expired: rgba(190, 22, 0, 0.1); /* Fundo tarefa expirada */

  --color-indicator-dot-active: rgb(87, 194, 0); /* Ponto de notificação para tarefa com anotações */

  /* == Botões == */

  --color-btn-primary-fill: rgb(35, 35, 35); /* Fundo botões primários */
  --color-btn-primary-hover-fill: rgb(230, 230, 230); /* Fundo hover botões primários */
  --color-btn-primary-content: rgb(230, 230, 230); /* Conteúdo botões primários  */
  --color-btn-primary-hover-content: rgb(35, 35, 35); /* Conteúdo hover botões primários */

  --color-btn-secondary-fill: none; /* Fundo botões 'limpar filtros, fechar janelas' */
  --color-btn-secondary-content: rgb(35, 35, 35); /* Conteúdo botões 'limpar filtros, fechar janelas' */

  --color-btn-tertiary-fill: rgba(150, 150, 150, 0.2); /* Fundo botões 'limpar input' */
  --color-btn-tertiary-hover-fill: rgba(150, 150, 150, 0.3); /* Fundo hover botões 'limpar input' */
  --color-btn-tertiary-content: rgb(150, 150, 150); /* Conteúdo botões 'limpar input' */
  --color-btn-tertiary-hover-content: var(--color-text-secondary); /* Conteúdo hover botões 'limpar input' */

  --color-btn-inputFile-fill: rgba(230, 230, 230, 0.8); /* Fundo input de adicionar e remover foto perfil */
  --color-btn-inputFile-content: var(--color-btn-secondary-content); /* Conteúdo input de adicionar e remover foto perfil */

  --color-btn-inputName-fill: transparent; /* Fundo botões auxiliares do input de nome */
  --color-btn-default-inputName-content: var(--color-text-secondary); /* Conteúdo botões auxiliares do input de nome */
  --color-btn-save-inputName-content: var(--color-task-completed-state); /* Conteúdo hover botão salvar do input de nome */
  --color-btn-delete-inputName-content: var(--color-task-expired-state); /* Conteúdo hover botão deletar do input de nome */
  --color-btn-recover-inputName-content: var(--color-task-alert-state); /* Conteúdo hover botão recuperar do input de nome */

  --color-btn-save-inputNote-content: var(--color-task-completed-state); /* Conteúdo hover botão salvar do input de anotações */
  --color-btn-delete-inputNote-content: var(--color-task-expired-state); /* Conteúdo hover botão deletar do input de anotações */

  --color-btn-schedule-remove-fill: var(--color-bg-surface); /* Fundo botão para remover agendamento */
  --color-btn-task-restore-expired-hover: var(--color-btn-primary-hover-content); /* Conteúdo hover botão para restaurar (tarefa expirada) */

  --color-btn-task-complete: var(--color-task-completed-state); /* Botão completar tarefa */
  --color-btn-task-restore: var(--color-border-secondary); /* Botão restaurar tarefa */
  --color-btn-task-edit: var(--color-task-alert-state); /* Botão editar tarefa */
  --color-btn-task-schedule: var(--color-task-scheduled-state); /* Botão agendar tarefa */
  --color-btn-task-notes: var(--color-border-secondary); /* Botão anotações da tarefa */
  --color-btn-task-remove: var(--color-task-expired-state); /* Botão remover tarefa */

  --color-on-btn-danger-hover: var(--color-task-expired-state); /* Cor hover ações perigosas (limpar filtro, fechar modal, apagar todas as tarefas, restaurar padrão de fábrica) */

  /* == Outros == */

  --color-shadow: rgba(0, 0, 0, 0.5); /* Sombra padrão */
  --color-scrollbar-primary-track: var(--color-bg-surface); /* Cor track primária da scrollbar */
  --color-scrollbar-secondary-track: var(--color-bg-base); /* Cor track secundária da scrollbar */
  --color-scrollbar-base-thumb: var(--color-border-secondary); /* Cor base thumb da scrollbar */
}

/* .darkTheme:root (Tema Escuro) */
.darkTheme:root {
  /* == Fundos == */

  --color-bg-base: rgb(45, 45, 45); /* Fundo container principal */
  --color-bg-surface: rgb(35, 35, 35); /* Fundo header, menu, modais */
  --color-bg-input: var(--color-bg-surface); /* Fundo inputs */
  --color-bg-input-active: rgba(250, 190, 44, 0.1); /* Fundo input ativo */
  --color-bg-input-active-after: rgb(250, 190, 44); /* Fundo input ativo after */
  
  /* == Textos == */

  --color-text-primary: rgb(230, 230, 230); /* Texto principal */
  --color-text-secondary: rgb(200, 200, 200); /* Texto secundário/neutro */
  --color-text-placeholder: rgb(150, 150, 150); /* Texto placeholder */
  
  /* == Bordas == */

  --color-border-primary: rgb(230, 230, 230); /* Borda mais forte */
  --color-border-secondary: rgb(200, 200, 200); /* Borda secundária */
  --color-border-input: var(--color-border-secondary); /* Borda inputs */
  --color-border-indicator-dot-active: rgb(35, 35, 35); /* Borda ponto de notificação para tarefas com anotações */
  --color-border-input-error: var(--color-task-expired-state); /* Bordas input com erros */

  /* == Status == */

  --color-task-default-state: var(--color-border-secondary); /* Uso geral componentes baseado na cor da tarefa inicial */
  --color-task-completed-state: rgb(127, 252, 45); /* Uso geral componentes baseado na cor da tarefa concluída */
  --color-task-scheduled-state: rgb(125, 157, 244); /* Uso geral componentes baseado na cor da tarefa agendada */
  --color-task-alert-state: rgb(250, 190, 44); /* Uso geral componentes baseado na cor da tarefa com alerta */
  --color-task-expired-state: rgb(243, 53, 53); /* Uso geral componentes baseado na cor da tarefa expirada */
  
  --color-border-filter-status-all: var(--color-border-primary); /* Borda filtro todas as tarefas */
  --color-border-filter-status-completed: var(--color-task-completed-state); /* Borda filtro tarefas concluídas */
  --color-border-filter-status-scheduled: var(--color-task-scheduled-state); /* Borda filtro tarefas agendadas */
  --color-border-filter-status-pending: var(--color-task-alert-state); /* Borda filtro tarefas pendentes */
  --color-border-filter-status-expired: var(--color-task-expired-state); /* Borda filtro tarefas expiradas */

  --color-bg-task-default: var(--color-bg-surface); /* Fundo inicial tarefa */
  --color-bg-task-completed: rgba(127, 252, 45, 0.1); /* Fundo tarefa concluída */
  --color-bg-task-scheduled: rgba(125, 157, 244, 0.1); /* Fundo tarefa agendada */
  --color-bg-task-alert: rgba(250, 190, 44, 0.1); /* Fundo tarefa com alerta */
  --color-bg-task-expired: rgba(243, 53, 53, 0.1); /* Fundo tarefa expirada */

  --color-indicator-dot-active: rgb(87, 194, 0); /* Ponto de notificação para tarefa com anotações */

  /* == Botões == */

  --color-btn-primary-fill: rgb(230, 230, 230); /* Fundo botões primários */
  --color-btn-primary-hover-fill: rgb(35, 35, 35); /* Fundo hover botões primários */
  --color-btn-primary-content: rgb(35, 35, 35); /* Conteúdo botões primários */
  --color-btn-primary-hover-content: rgb(230, 230, 230); /* Conteúdo hover botões primários */

  --color-btn-secondary-fill: none; /* Fundo botões 'limpar filtros, fechar janelas' */
  --color-btn-secondary-content: rgb(230, 230, 230); /* Conteúdo botões 'limpar filtros, fechar janelas' */

  --color-btn-tertiary-fill: rgba(150, 150, 150, 0.2); /* Fundo botões 'limpar input' */
  --color-btn-tertiary-hover-fill: rgba(150, 150, 150, 0.3); /* Fundo hover botões 'limpar input' */
  --color-btn-tertiary-content: rgb(150, 150, 150); /* Conteúdo botões 'limpar input' */
  --color-btn-tertiary-hover-content: var(--color-text-secondary); /* Conteúdo hover botões 'limpar input' */

  --color-btn-inputFile-fill: rgba(35, 35, 35, 0.8); /* Fundo input de adicionar e remover foto perfil */
  --color-btn-inputFile-content: var(--color-btn-secondary-content); /* Conteúdo do input de adicionar e remover foto perfil */

  --color-btn-inputName-fill: transparent; /* Fundo botões auxiliares do input de nome */
  --color-btn-default-inputName-content: var(--color-text-secondary); /* Conteúdo botões auxiliares do input de nome */
  --color-btn-save-inputName-content: var(--color-task-completed-state); /* Conteúdo hover botão salvar do input de nome */
  --color-btn-delete-inputName-content: var(--color-task-expired-state); /* Conteúdo hover botão deletar do input de nome */
  --color-btn-recover-inputName-content: var(--color-task-alert-state); /* Conteúdo hover botão recuperar do input de nome */

  --color-btn-save-inputNote-content: var(--color-task-completed-state); /* Conteúdo hover botão salvar do input de anotações */
  --color-btn-delete-inputNote-content: var(--color-task-expired-state); /* Conteúdo hover botão deletar do input de anotações */
  
  --color-btn-schedule-remove-fill: var(--color-bg-surface); /* Fundo botão para remover agendamento */
  --color-btn-task-restore-expired-hover: var(--color-btn-primary-hover-content); /* Conteúdo hover botão para restaurar (tarefa expirada) */

  --color-btn-task-complete: var(--color-task-completed-state); /* Botão completar tarefa */
  --color-btn-task-restore: var(--color-border-secondary); /* Botão restaurar tarefa */
  --color-btn-task-edit: var(--color-task-alert-state); /* Botão editar tarefa */
  --color-btn-task-schedule: var(--color-task-scheduled-state); /* Botão agendar tarefa */
  --color-btn-task-notes: var(--color-border-secondary); /* Botão anotações da tarefa */
  --color-btn-task-remove: var(--color-task-expired-state); /* Botão remover tarefa */
  
  --color-on-btn-danger-hover: var(--color-task-expired-state); /* Cor hover para ações perigosas (limpar filtro, fechar modal, apagar todas as tarefas, restaurar padrão de fábrica) */
  
  /* == Outros == */

  --color-shadow: rgba(0, 0, 0, 0.5); /* Sombra padrão */
  --color-scrollbar-primary-track: var(--color-bg-surface); /* Cor track primária da scrollbar */
  --color-scrollbar-secondary-track: var(--color-bg-base); /* Cor track secundária da scrollbar */
  --color-scrollbar-base-thumb: var(--color-border-secondary); /* Cor base thumb da scrollbar */
}