/* DEFINIÇÃO, CARREGAMENTO E VARIÁVEIS DAS FONTES LOCAIS */

/* --- Fonte: Lato Regular --- */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/lato-v25-latin-regular.woff2") format("woff2");
}

/* --- Fonte: Lato Itálico --- */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/lato-v25-latin-italic.woff2") format("woff2");
}

/* --- Fonte: Lato Negrito (Bold) --- */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/lato-v25-latin-700.woff2") format("woff2");
}

/* Variáveis globais para tipografia */
:root {
  /* Fonte principal (font-family) do projeto + fonte genérica de segurança. */
  --font-primary: "Lato", sans-serif;

  /* Pesos da fonte (font-weight) */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Escala de tamanhos de fonte (font-size) */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-xxl: 1.5rem;
  --fs-xxxl: 2rem;
  --fs-display: 2.5rem;

  /* Estilo da fonte (font-style) */
  --fst-italic: italic;
}