/* header */

#headerBox {
  display: flex;
  position: fixed;
  background-color: var(--color-bg-surface);
  height: 5rem;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  padding: 0 5%;
  background-color: var(--color-bg-surface);
}

/* Logo */

#logoImg {
  width: 50px;
  height: 50px;
}

/* Entrada de tarefas */

#newTaskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 37.5rem;
  height: 100%;
}

#newTaskContainerInput {
  position: relative;
  flex-grow: 1;
  height: 3rem;
}

#newTaskInput {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  background-color: var(--color-bg-input);
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
  outline: none;
  border: 2px solid var(--color-border-input);
  border-radius: 5px;
  padding: 5px 50px 5px 10px;
  transition: 0.2s;
}

#cleanNewTaskInputBtn {
  width: 50px;
}

#cleanNewTaskInputBtn span svg {
  width: 1.5rem;
}

#newTaskBtn {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-display);
  border: 2px solid var(--color-border-primary);
  border-radius: 5px;
  background-color: var(--color-btn-primary-fill);
  color: var(--color-btn-primary-content);
  height: 48px;
  width: 48px;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.2s;
}

#newTaskBtn:hover {
  background-color: var(--color-btn-primary-hover-fill);
  color: var(--color-btn-primary-hover-content);
  box-shadow: 0 0 10px 2px var(--color-border-primary);
}

#newTaskBtn span {
  display: grid;
  place-items: center;
  height: 100%;
}

#newTaskBtn span svg {
  width: 1.5rem;
}

/* Botão do menu */

#menuBtn {
  position: relative;
  background-color: var(--color-btn-primary-fill);
  color: var(--color-btn-primary-content);
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-border-primary);
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

#menuBtn:hover,
#menuBtn.active {
  background-color: var(--color-btn-primary-hover-fill);
  color: var(--color-btn-primary-hover-content);
  box-shadow: 0 0 10px 2px var(--color-border-primary);
}

.menuBtnIcon {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
}

.menuBtnIcon.active {
  opacity: 1;
}

.menuBtnIcon svg {
  width: 1.5rem;
}

/* Campo de informações do filtro atual */

#filterInformationBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  top: 3.5rem;
  left: 5%;
  background-color: var(--color-bg-surface);
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2px 8px;
  z-index: -1;
}

#filterInformationText {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--color-text-primary);
  user-select: none;
}

#filterInformation {
  margin-left: 5px;
  font-style: var(--fst-italic);
}

#cleanFilterBtn {
  cursor: pointer;
  border: none;
  background-color: var(--color-btn-secondary-fill);
  color: var(--color-btn-secondary-content);
  outline: none;
  height: 100%;
  width: 1.5rem;
  transition: 0.2s;
}

#cleanFilterBtn:hover {
  color: var(--color-on-btn-danger-hover);
}

#cleanFilterBtn span {
  display: grid;
  place-items: center;
}

#cleanFilterBtn span svg {
  width: 1rem;
}
