/* header */

#headerBox {
  display: flex;
  position: fixed;
  height: 5rem;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  padding: 0 5%;
  background-color: var(--white100_dark100);
}

/* Logo */

#logoImg {
  width: 50px;
  height: 50px;
}

/* Entrada de tarefas */

#newTaskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 37.5rem;
  height: 100%;
}

#newTaskContainerInput {
  position: relative;
  width: 100%;
  height: 3rem;
}

#newTaskInput {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  width: 100%;
  height: 100%;
  outline: none;
  border: 2px solid var(--grey_50);
  border-radius: 5px;
  padding: 5px 50px 5px 10px;
  transition: 0.2s;
}

#cleanNewTaskInputBtn {
  width: 50px;
}

#cleanNewTaskInputBtn span svg {
  width: 1.5rem;
}

#newTaskBtn {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-display);
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  background-color: var(--dark100_white100);
  color: var(--white100_dark100);
  height: 48px;
  min-width: 40px;
  cursor: pointer;
  transition: 0.2s;
}

#newTaskBtn:hover {
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

#newTaskBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#newTaskBtn span svg {
  width: 1.5rem;
}

/* Botão do menu */

#menuBtn {
  background: var(--dark100_white100);
  color: var(--white100_dark100);
  min-width: 40px;
  height: 48px;
  border: 2px solid var(--dark100_white100);
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

#menuBtn:hover,
#menuBtn.active {
  background-color: var(--white100_dark100);
  color: var(--dark100_white100);
  box-shadow: 0 0 10px 2px var(--dark100_white100);
}

.menuBtnIcon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menuBtnIcon.active {
  display: flex;
}

.menuBtnIcon svg {
  width: 1.5rem;
}

/* Campo de informações do filtro atual */

#filterInformationBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  top: 3.5rem;
  left: 5%;
  background-color: var(--white100_dark100);
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2px 8px;
  z-index: -1;
}

#filterInformationText {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--dark100_white100);
  user-select: none;
}

#filterInformation {
  margin-left: 5px;
  font-style: var(--fst-italic);
}

#cleanFilterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: var(--dark100_white100);
  height: 100%;
  width: 1.5rem;
  transition: 0.3s;
}

#cleanFilterBtn:hover {
  color: var(--red);
}

#cleanFilterBtn svg {
  width: 1rem;
  display: block;
}
