/* menu */

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  top: 6rem;
  right: 5%;
  background-color: var(--color-bg-surface);
  border-radius: 5px;
  width: 12rem;
  box-shadow: 6px 6px 10px 0px var(--color-shadow);
  padding: 1rem;
  user-select: none;
  z-index: -1;
}

#menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateX(-50%);
  border-bottom: 10px solid var(--color-bg-surface);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* Caixa de informações do usuário */

#accountIdentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Foto de perfil do usuário */

#imgIdentBox {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: 0.2s;
}

#imgIdentBox:hover {
  cursor: pointer;
}

#inputFileBtnPlus,
#inputFileBtnDel {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: var(--color-btn-inputFile-fill);
  color: var(--color-btn-inputFile-content);
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
}

#imgIdentBox:hover #inputFileBtnPlus,
#imgIdentBox:hover #inputFileBtnDel {
  opacity: 1;
}

#inputFileBtnPlus span,
#inputFileBtnDel span {
  display: grid;
  place-items: center;
}

#inputFileBtnPlus span svg,
#inputFileBtnDel span svg {
  width: 1rem;
}

#uploadedImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

#inputFileImgLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--color-border-input);
  cursor: pointer;
}

#inputFileImg {
  display: none;
}

/* Nome do usuário */

#nameIdentBox {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;
}

#nameIdentBox.editing {
  background-color: var(--color-bg-input-active);
}

#nameIdentBox::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  background-color: var(--color-bg-input-active-after);
  transition: 0.3s;
}

#nameIdentBox.active::after {
  width: 100%;
}

#nameInput {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  color: var(--color-text-primary);
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 5px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

#nameInput.active {
  cursor: auto;
}

#nameIdentIcon,
#saveNameButton,
#deleteNameButton,
#recoverNameButton {
  position: absolute;
  border: none;
  width: 1rem;
  color: var(--color-btn-default-inputName-content);
  background-color: var(--color-btn-inputName-fill);
  height: 100%;
  transition: 0.2s;
  cursor: pointer;
}

#nameIdentIcon,
#saveNameButton {
  right: 0;
}

#nameIdentIcon {
  align-content: center;
  opacity: 0;
}

#deleteNameButton,
#recoverNameButton {
  left: 0;
}

#saveNameButton:hover {
  color: var(--color-btn-save-inputName-content);
}

#deleteNameButton:hover {
  color: var(--color-btn-delete-inputName-content);
}

#recoverNameButton:hover {
  color: var(--color-btn-recover-inputName-content);
}

#nameIdentBox:hover #nameIdentIcon {
  opacity: 0.5;
}

#nameIdentIcon span,
#saveNameButton span,
#deleteNameButton span,
#recoverNameButton span {
  display: grid;
  place-items: center;
  height: 100%;
}

#nameIdentIcon span svg,
#saveNameButton span svg,
#deleteNameButton span svg,
#recoverNameButton span svg {
  width: 1rem;
}

/* Filtro de tarefas por conteúdo */

#searchContainer {
  position: relative;
  width: 100%;
}

#searchTaskInput {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  border: 2px solid var(--color-border-input);
  background-color: var(--color-bg-input);
  color: var(--color-text-primary);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  padding: 8px 23px 8px 8px;
  transition: 0.2s;
}

#searchTaskInput::-webkit-search-cancel-button {
  display: none;
}

#cleanInputSearchBtn {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  background-color: var(--color-btn-secondary-fill);
  color: var(--color-btn-secondary-content);
  outline: none;
  height: 100%;
  width: 23px;
  transition: 0.2s;
}

#cleanInputSearchBtn:hover {
  color: var(--color-on-btn-danger-hover);
}

#cleanInputSearchBtn span {
  display: grid;
  place-items: center;
  height: 100%;
}

#cleanInputSearchBtn span svg {
  width: 1rem;
}

/* Filtro de tarefas por status */

#filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

#filterContainer a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 4px solid transparent;
  padding: 5px 10px;
  transition: 0.2s;
  cursor: pointer;
}

#filterContainer a,
#filterContainer a p span {
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  text-transform: capitalize;
}

#filterContainer a:hover,
#filterContainer a.active {
  color: var(--color-text-primary);
}

#filterContainer #allTasksFilterBtn:hover,
#allTasksFilterBtn.active {
  border-left-color: var(--color-border-filter-status-all);
}

#filterContainer #pendingTasksFilterBtn:hover,
#pendingTasksFilterBtn.active {
  border-left-color: var(--color-border-filter-status-pending);
}

#filterContainer #scheduledTasksFilterBtn:hover,
#scheduledTasksFilterBtn.active {
  border-left-color: var(--color-border-filter-status-scheduled);
}

#filterContainer #expiredTasksFilterBtn:hover,
#expiredTasksFilterBtn.active {
  border-left-color: var(--color-border-filter-status-expired);
}

#filterContainer #completedTasksFilterBtn:hover,
#completedTasksFilterBtn.active {
  border-left-color: var(--color-border-filter-status-completed);
}

/* Tema */

#themeBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#themeTitle {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  text-transform: capitalize;
}

#themeCheckBox {
  display: none;
}

#themeCheckBoxLabel {
  background-color: var(--color-btn-primary-fill);
  border: 2px solid var(--color-border-primary);
  width: 3.5rem;
  height: 1.75rem;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

#themeCheckBoxLabel:hover {
  background-color: var(--color-btn-primary-hover-fill);
  box-shadow: 0 0 10px 2px var(--color-border-primary);
}

#themeBall {
  color: var(--color-btn-primary-content);
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  transition: 0.2s;
  right: 50%;
}

#themeCheckBoxLabel:hover #themeBall {
  color: var(--color-btn-primary-hover-content);
}

#themeBallMoon {
  display: none;
}

#themeBallSun {
  display: grid;
}

#themeBallSun, #themeBallMoon {
  place-items: center;
  height: 100%;
  width: 100%;
}

#themeBallSun svg, #themeBallMoon svg {
  width: 1rem;
}

#themeCheckBox:checked ~ #themeBall {
  right: 0;
}

#themeCheckBox:checked ~ #themeBall #themeBallMoon {
  display: grid;
}

#themeCheckBox:checked ~ #themeBall #themeBallSun {
  display: none;
}

/* Botões para exclusão de todas as tarefas */

#removeAllTasksBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#removeAllTaskBtn,
#removeAllConfigBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 10px;
  background-color: var(--color-btn-primary-fill);
  color: var(--color-btn-primary-content);
  border: 2px solid var(--color-border-primary);
  border-radius: 5px;
  transition: 0.2s;
}

#removeAllTaskBtn p,
#removeAllConfigBtn p {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

#removeAllTaskBtn span,
#removeAllConfigBtn span {
  display: grid;
  transition: 0.2s;
}

#removeAllTaskBtn span svg,
#removeAllConfigBtn span svg {
  width: 1rem;
}

#removeAllTaskBtn.hover:hover,
#removeAllConfigBtn.hover:hover {
  background-color: var(--color-btn-primary-hover-fill);
  color: var(--color-btn-primary-hover-content);
  border-color: var(--color-on-btn-danger-hover);
  box-shadow: 0 0 10px 2px var(--color-on-btn-danger-hover);
  cursor: pointer;
}

#removeAllTaskBtn.hover:hover span,
#removeAllConfigBtn.hover:hover span {
  color: var(--color-on-btn-danger-hover);
}