/* Responsividade da aplicação */

@media (min-width: 1921px) {
  #header {
    padding: 0 6rem;
  }
  #tasksContainer {
    padding: 3.5rem 6rem 3.125rem;
  }
}

@media (max-width: 1771px) {
  #tasksContainer {
    grid-template-columns: repeat(5, 15rem);
  }
}

@media (max-width: 1471px) {
  #tasksContainer {
    grid-template-columns: repeat(4, 15rem);
  }
}

@media (max-width: 1171px) {
  #tasksContainer {
    grid-template-columns: repeat(3, 15rem);
  }
}

@media (max-width: 1024px) {
  #newTaskContainer {
    width: 70%;
  }
  #newTaskBtn:hover {
    background-color: var(--dark100_white100);
    color: var(--white100_dark100);
    box-shadow: none;
  }
  #menuBtn:hover {
    background-color: var(--dark100_white100);
    color: var(--white100_dark100);
    box-shadow: none;
  }
  #menuBtn.active {
    background-color: var(--white100_dark100);
    color: var(--dark100_white100);
    box-shadow: 0 0 10px 2px var(--dark100_white100);
  }
  #nameIdentIcon {
    opacity: 0.5;
  }
  #saveNameButton {
    color: var(--green);
  }
  #deleteNameButton {
    color: var(--red);
  }
  #recoverNameButton {
    color: var(--yellow);
  }
  #inputFileBtnPlus,
  #inputFileBtnDel {
    opacity: 1;
  }
  .taskFront::after {
    width: calc(100% - 30px);
  }
  .schedulingRemoveBtn {
    opacity: 1;
  }
  .checkBtn,
  .scheduleBtn,
  .editBtn,
  .removeBtn,
  .notesBtn {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
  .checkBtn:hover,
  .scheduleBtn:hover,
  .editBtn:hover,
  .removeBtn:hover,
  .notesBtn:hover {
    translate: 0;
  }
  .saveNoteBtn {
    color: var(--green);
  }
  .cleanNoteBtn {
    color: var(--red);
  }
  #closeEditFieldBtn,
  #scheduleFieldCloseBtn {
    color: var(--red);
  }
}

@media (max-width: 871px) {
  #tasksContainer {
    grid-template-columns: repeat(2, 15rem);
  }
}

@media (max-width: 620px) {
  #menu {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
    border-radius: 0;
    box-shadow: none;
    right: 0;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  #filterInformationBox {
    top: 8.5rem;
  }
  #filterInformationBox.filterInfoAppear {
    animation: filterInfoAppearMobile 0.2s forwards ease-in;
  }
  @keyframes filterInfoAppearMobile {
    0% {
      top: 8.5rem;
      opacity: 0;
    }
    100% {
      top: 10rem;
      opacity: 1;
    }
  }
  #filterInformationBox.filterInfoVanish {
    animation: filterInfoVanishMobile 0.2s forwards ease-in;
  }
  @keyframes filterInfoVanishMobile {
    0% {
      top: 10rem;
      opacity: 1;
    }
    100% {
      top: 8.5rem;
      opacity: 0;
    }
  }
  #menuBtnOpenIcon {
    transform: rotate(90deg);
  }
  #menu.menuAppear {
    animation: menuAppearRightToLeft 0.2s forwards ease-in;
  }
  @keyframes menuAppearRightToLeft {
    0% {
      right: -12rem;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  #menu.menuVanish {
    animation: menuVanishRightToLeft 0.2s forwards ease-in;
  }
  @keyframes menuVanishRightToLeft {
    0% {
      right: 0;
      opacity: 1;
    }
    100% {
      right: -12rem;
      opacity: 0;
    }
  }
  #mainContainer {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
  }
  #newTaskContainer {
    background-color: var(--white100_dark100);
    position: absolute;
    padding: 0 5%;
    top: 5rem;
    left: 0;
    width: 100%;
  }
  #noTaskTextContainer {
    top: calc(10rem + 15%);
  }
  #editField,
  #scheduleField,
  #confirmationWindow {
    top: calc(10rem + 30%);
  }
}

@media (max-width: 571px) {
  #tasksContainer {
    grid-template-columns: repeat(1, 15rem);
  }
}

@media (max-width: 450px) {
  #editField,
  #scheduleField,
  #confirmationWindow {
    width: 75%;
    height: 14rem;
  }
  #scheduleFieldCenter {
    flex-direction: column;
  }
  #scheduleInputDate,
  #scheduleInputTime {
    width: 100%;
  }
}

@media (max-height: 660px) {
  #menu {
    top: 5rem;
    height: calc(100vh - 5rem);
    height: calc(100dvh - 5rem);
    border-radius: 0;
    box-shadow: none;
    right: 0;
    overflow: auto;
    scrollbar-gutter: stable;
  }
  #menuBtnOpenIcon {
    transform: rotate(90deg);
  }
  #menu.menuAppear {
    animation: menuAppearRightToLeft 0.2s forwards ease-in;
  }
  #menu.menuVanish {
    animation: menuVanishRightToLeft 0.2s forwards ease-in;
  }
}

@media (max-width: 620px) and (max-height: 660px) {
  #menu {
    top: 10rem;
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
  }
}